.gradient-custom {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    color: white;
}

.card-body {
    background-color: black;
    border-radius: 15px;
}

.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
}

.switch:checked {
    background-color: #FEAF00;
}

.switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
}

.switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.switch:checked:hover::before {
    box-shadow: #FEAF00;
}

.switch:checked:before {
    transform: translateX(100%);
    border-color: #FEAF00;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#h3 {
    color: white;
}

#formulario {
    padding: 20px;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: red;
    border: 2px solid red;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 1000;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: red;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #FFF;
    scale: 1.1;
    box-shadow: 0 0px 20px red;
}

.button:active {
    scale: 1;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.iconos_blancos {
    color: white;
}

/*Primer Uso*/
.gradient-custom {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    color: white;
}

.card-body {
    background-color: black;
    border-radius: 15px;
}

#h3 {
    color: white;
}

#formulario {
    padding: 20px;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: red;
    border: 2px solid red;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 1000;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: red;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #FFF;
    scale: 1.1;
    box-shadow: 0 0px 20px red;
}

.button:active {
    scale: 1;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.iconos_blancos {
    color: white;
}

.button2 {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #FEAF00;
    border: 2px solid #FEAF00;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 1000;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button2::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #FEAF00;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button2:hover::before {
    scale: 3;
}

.button2:hover {
    color: #FFF;
    scale: 1.1;
    box-shadow: 0 0px 20px #FEAF00;
}

.button2:active {
    scale: 1;
}

#passwordModal {
    color: #000;
}

#passwordForm {
    color: #000;
}

#password {
    color: #000;
}